apiVersion: v1
kind: Secret
metadata:
  name: {{ include "api-gateway.fullname" . }}
  labels:
    {{- include "api-gateway.labels" . | nindent 4 }}
type: Opaque
data:
  keycloak-client-secret: {{ .Values.secrets.keycloakClientSecret | b64enc | quote }}
